<h1>Our Services.</h1>

<% if manager? -%>
<p style="text-align:right;"><%= link_to 'Add New Service', new_service_path %></p>
<% end -%>

<% @services.each do |service| -%>
  <h3>
    <%= link_to service.name, service %>
    <% if manager? -%>
    <span class='pull-right' style='font-size:14px;'>
      <%= link_to 'edit', edit_service_path(service) %> |
      <%= link_to "delete", service, method: :delete, data: { confirm: "You sure?" } %>
    </span>
    <% end -%>
  </h3>
<% end -%>
