<div class="jumbotron">
  <h1>Super awesome marketing speak!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div class="row-fluid marketing">
  <% @services.each do |service| -%>
    <div class="span6">
      <h4><%= service.name %></h4>
      <p><%= service.description %></p>
    </div>
  <% end -%>
</div>